header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/indexHeaderFoto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .indexHeaderContenedorInferior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  color: #fff;
  gap: 2rem;
}
header .indexHeaderContenedorInferior h1 {
  font-size: 20px;
}
header .indexHeaderContenedorInferior h2 {
  font-size: 42px;
}
header .indexHeaderContenedorInferior p {
  font-size: 16px;
}

@media (min-width: 450px) {
  header .indexHeaderContenedorInferior {
    padding: 0 4rem;
  }
}
@media (min-width: 800px) {
  header .indexHeaderContenedorInferior {
    padding: 0 20rem;
  }
}
main {
  margin-top: 3%;
  padding: 2rem 1rem;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #010101;
}
main h3 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 2rem;
}
main a {
  text-decoration: none;
}
main .indexContenedorArticle {
  display: flexbox;
  flex-wrap: wrap;
  gap: 1rem;
}
main .indexMainArticleNovedad {
  background-color: #dadee2;
  border-radius: 0.5rem;
  color: #010101;
  padding: 2rem;
  margin: 1rem 0;
  gap: 1.5rem;
}
main .indexMainArticleNovedad button {
  border-radius: 0.5rem;
  background-color: #fff;
  border-color: unset;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 1rem;
}
main .indexMainArticleNovedad button:hover {
  background-color: #2D6CDF;
  color: #fff;
}
main .indexMainArticleNovedad button h4 {
  font-size: 16;
  font-weight: 600;
}
main .indexCarousel {
  margin: 2rem 0;
}
main .indexCarousel img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
main .cursosMainContenedor {
  margin-bottom: 4rem;
}
main .cursosMainContenedor button {
  border-radius: 0.5rem;
  background-color: #fff;
  border-color: unset;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 1rem;
}
main .cursosMainContenedor button:hover {
  background-color: #2D6CDF;
  color: #fff;
}
main .cursosTitulo {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  margin-bottom: 2rem;
  gap: 1rem;
}

@media (min-width: 450px) {
  main {
    padding: 2rem 4rem;
  }
  main .indexCarousel {
    margin: 2rem 0;
  }
  main .indexCarousel img {
    height: 400px;
    object-fit: cover;
  }
  main .cursosMainContenedor {
    margin-bottom: 6rem;
  }
}
@media (min-width: 800px) {
  main {
    padding: 4rem 20rem;
  }
  main .cursosMainContenedor {
    margin-bottom: 4rem;
  }
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 1rem;
  background-color: #0A2540;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  gap: 1rem;
}
footer img {
  width: 3rem;
}
footer h4 {
  font-size: 16px;
}
footer h5 {
  font-size: 14px;
}
footer P {
  font-size: 12px;
}

@media (min-width: 400px) {
  footer {
    padding: 2rem 4rem;
  }
}
@media (min-width: 800px) {
  footer {
    padding: 2rem 20rem;
  }
}
body {
  font-family: "Manrope", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
