@use "base/tipografia";
@use "layout/header";


.indexHeaderContenedorInferior {
    background-image: url(../img/indexHeaderFoto.jpg);
    
    height: 100vh;
    height: 100vh;

    
    padding: 1rem;
}