@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

footer {
    background-color: $colorAzulOscuro;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 1rem;
    font-family: $fuentePrincipal;
    color: $colorBlanco;

    h5{
        font-size: 0.75rem;
    }

    p{
        font-size: 0.75rem;
    }
    img {
        width: 2.8rem;
        height: 2rem;
    }
}

// Tablet
@media (min-width: 768px) {
     footer {
         padding: 4 6rem;;
         margin: 0 auto;
     }
 }


 //Desktop
 @media (min-width: 1020px) {
     footer {
         padding: 4 20rem;;
         margin: 0 auto;
     }

    
    }