*


.indexHeaderContenedorInferior {
    display: flex;
    background-image: url(../img/indexHeaderFoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    padding: 1rem;
}

