@use "../abstract/variables" as *;



header {
    background-image:
    linear-gradient(
            rgba(0,0,0,.8),
            rgba(0,0,0,.8)
        ),
         url("/img/indexHeaderFoto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

   



    .indexHeaderContenedorInferior {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: flex-start;
        height: 100vh;
        padding: 2rem;
        gap: 1rem;
        color: $colorBlanco;
       

      

        .indexIsotipo {
            width: 5rem;
        }


        h1 {
            font-size: 45px;
            font-weight: bold;
        }
    }
}