@use "../abstract/variables" as *;

main {
    margin-top: 3%;
    padding: 2rem 1rem;
    background-color: $colorBlanco;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $colorNegro;



    h3 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    a {
        text-decoration: none;

    }

    .indexContenedorArticle {
        display: flexbox;
        flex-wrap: wrap;
        gap: 1rem;
        
    }

    .indexMainArticleNovedad {
        background-color: $colorGrisClaro;
        border-radius: 0.5rem;
        color: $colorNegro;
        padding: 2rem;
        margin: 1rem 0;
        gap: 1.5rem;

        button {
            border-radius: 0.5rem;
            background-color: $colorBlanco;
            border-color: unset;
            font-family: $fuentePrincipal;
            font-size: 12px;
            font-weight: 600;
            padding: 0.5rem 1rem;

            &:hover {
                background-color: $colorAzulHover;
                color: $colorBlanco;
            }


            h4 {
                font-size: 16;
                font-weight: 600;
            }
        }
    }

    .indexCarousel {
        margin: 2rem 0;

        img {
            height: 250px;
            width: 100%;
            object-fit: cover;
        }
    }

    .cursosMainContenedor {
        margin-bottom: 4rem;

        button {
            border-radius: 0.5rem;
            background-color: $colorBlanco;
            border-color: unset;
            font-family: $fuentePrincipal;
            font-size: 12px;
            font-weight: 600;
            padding: 0.5rem 1rem;

            &:hover {
                background-color: $colorAzulHover;
                color: $colorBlanco;
            }
        }

    }

    .cursosTitulo {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        margin-bottom: 2rem;
        gap: 1rem;

    }





}


@media (min-width: 450px) {

    main {
        padding: 2rem 6rem;

        .indexCarousel {
            margin: 2rem 0;

            img {
                height: 400px;

                object-fit: cover;
            }
        }

        .cursosMainContenedor {
            margin-bottom: 6rem;
        }

    }

}

@media (min-width: 890px) {

    main {

        padding: 4rem 20rem;

        .cursosMainContenedor {
            margin-bottom: 4rem;

        }

    }
}