@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


main {
    margin-top: 1rem;
    padding: 2rem 1rem;
    background-color: $colorBlanco;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $colorNegro;



 

    a {
        text-decoration: none;
        color: #5a5757;
        font-weight: bold;

        a:hover {
            color: $colorAzulHover;
            text-decoration: underline;
        }

       
    }

    .indexContenedorArticle {
        display: flexbox;
        flex-wrap: wrap;
        gap: 1rem;
        

    }

    .indexMainArticleNovedad {
        background-color: $colorGrisClaro;
        border-radius: 0.5rem;
        color: $colorNegro;
        padding: 2rem;
        margin: 1rem 0;
        gap: 1.5rem;

        button {
            @include button;
            align-content: center;
        }
    }

    .indexCarusel {
        margin: 2rem 0;

        img {
            height: 400px;
            width: 100%;
            object-fit: contain;
        }
    }

    .cursosMainContenedor {
        margin-bottom: 4rem;

        button {
             @include button;
            align-content: center;
        
        }

    

    }

    .cursosTitulo {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        margin: 2rem 0;
        gap: 1rem;

    }
 
    .mainAcordion{

    }
}


@media (min-width: 500px) {

    main {
        padding: 1rem 6rem;

        .indexCarusel {
            margin: 2rem 0;

            img {
                height: 500px;

                object-fit: contain;
            }
        }

        .cursosMainContenedor {
            margin-bottom: 6rem;
        }

    }

}

@media (min-width: 890px) {

    main {

        padding: 2rem 20rem;

        .cursosMainContenedor {
            margin-bottom: 10rem;

        }

        .indexCarusel {
            margin: 1rem 0;

            img {
                height: 600px;

                object-fit: contain;
            }
        }

    }
}