@use "../abstract/variables" as *;

@mixin button {
     
            border-radius: 0.5rem;
            background-color: $colorBlanco;
            border-color: unset;
            font-family: $fuentePrincipal;
            font-size: 12px;
            font-weight: 600;
            padding: 0.5rem 1rem;

            &:hover {
                background-color: $colorAzulHover;
                color: $colorBlanco;
            }
}