$colorAzulOscuro: #0A2540;
$colorAzulClaro: #133B5C;
$colorBlanco: #fff;
$colorNegro: #010101;
$colorGrisClaro: #dadee2;

$colorAzulHover: #2D6CDF;

$fuentePrincipal: "Manrope", sans-serif;
$fuenteTitulos: "Lora", sans-serif;
